
<section layout="vertical" layout-align="center center" layout-margin>
       
   <div flex="30"></div>

   <md-content flex="35" class="md-whiteframe-z1" >
      <md-icon md-font-set="material-icons" > people </md-icon> 

      <form name="userForm">

        <div layout="column">
           <md-input-container flex>
            <label>User</label>
              <input ng-model="user.username" placeholder="Username">
           </md-input-container>
           <md-input-container flex >
              <label>Password</label>
              <input ng-model="user.password" type="password" placeholder="Password">
           </md-input-container>
           <md-button class="md-raised md-primary">LOGIN</md-button>
           
         </div>
      </form>

   </md-content>

   <div flex="30"></div>

</section>