
<section layout="vertical" layout-align="center center" layout-margin>

   <div flex="30"></div>

   <md-content flex="35" class="md-whiteframe-z1" >
      <md-icon md-font-set="material-icons" > people </md-icon>
      <form name="userForm" ng-submit="login(userForm)" >
         <div layout="column">
            <md-input-container flex>
               <label>User</label>
               <input ng-model="user.username" >
            </md-input-container>
            <md-input-container flex >
               <label>Password</label>
               <input ng-model="user.password" type="password" >
            </md-input-container>
            <md-button class="md-raised md-primary" ng-disabled="userForm.$invalid">LOGIN</md-button>
         </div>

         <div >
            <p  ng-show="form.email.$error.required && form.password.$error.required && submitted">
               Please enter your email and password.
            </p>
            <p ng-show="form.email.$error.email && submitted">
               Please enter a valid email.
            </p>
            <p >{{ errors.other }}</p>
         </div>
      </form>
   </md-content>

   <div flex="30"></div>
   
</section>