<md-dialog aria-label="Preview immagine"  ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Preview immagine</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">clear</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content">
                <h2>Ultima immagine catturata</h2>
                <img ng-if=" vm.imageUrl" style="margin: auto; max-width: 100%;" alt="Last snapshot" ng-src="{{ vm.imageUrl }}">
                <span ng-if="! vm.imageUrl" >Nessun immagine presente</span>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button ng-if=" vm.imageUrl" ng-click="nextImg()">
                Next
            </md-button>
            <md-button ng-if=" vm.imageUrl" ng-click="prevImg()" style="margin-right:20px;">
                Prev
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>